body {
    background-color: rgb(20, 20, 20);
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slider {
    background: rgb(150, 113, 113);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(164, 164, 243);
    font-size: 2rem;
}


.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.aso {
    color: white;
    display: flex;
    align-items: center;
}